v:2.1.10
Cons.Situação Layouts Etiquetas Próximo ao Vencime
Cons.Situação Layouts Etiquetas Próximo ao Vencime










SELECT EMP.NOMEREDUZIDO EMPRESA,`~         A.SOFTPDV LAYOUT_ETIQUETA_PROX_VENCIMENTO,`~         DECODE(A.STATUS, 'A', 'ATIVO', 'I', 'INATIVO')STATUS`~`~FROM MRL_EMPSOFTPDV A, MAX_EMPRESA EMP`~WHERE A.NROEMPRESA = EMP.NROEMPRESA`~  AND A.SOFTPDV IN ('ETIQPROD-PROX-VEN-PR', 'ETIQPROD-PROX-VENCI', 'ETIQPRD-PRXVEN-LASER')`~  AND (EMP.NOMEREDUZIDO = :LS1 OR :LS1 = ' TODAS')`~`~ORDER BY EMP.NROEMPRESA;`~




#CS:31446
*** End Top
LS1
Empresa:
Selecione a Empresa Desejada ou "TODAS" para Selecionar TODAS as Empresas de Uma Vez.`~
N
L
SELECT EMP.NOMEREDUZIDO FROM MAX_EMPRESA EMP`~UNION`~SELECT ' TODAS' FROM DUAL`~ORDER BY 1;
