v:2.1.10
Consulta Datas de Validade NT - Normas Técnicas2
Consulta Datas de Validade NT - Normas Técnicas










SELECT A.STATUS,`~       A.SEQNOTATECNICA SEQ_NOTA_TEC,`~       A.NRONOTATECNICA NRO_NOTA_TEC,`~       A.NROEMPRESA NRO_EMPRESA,`~       A.CODLAYOUT COD_LAY,`~       A.VERSAO VERSAO,`~       A.STATUS,`~       TO_CHAR(DTAINICIAL, 'DD/MM/YYYY')DTA_INICIAL,`~       TO_CHAR(DTAFINAL, 'DD/MM/YYYY')DTA_FINAL,`~       A.TIPODOCUMENTO TIPO_DOC,`~       A.ROWID ROW_ID`~`~FROM MAX_EMPRESANOTATECNICA  A`~`~WHERE A.NRONOTATECNICA IN (2025002,2019001,2020006) 




#CS:26935
*** End Top
